
 <title>Squire Startup - Authors</title> 
{% extends "layout.html" %}
{% block content %}
  <div id="People">
  	  <hr class="valuebars">
      <h1 style="text-align: center">People Involved</h1>
    <hr class="valuebars">
  
      <p style="float: right; width: 200px; margin-left: 30px; margin-bottom: 5px; text-align: center: font-size: 8pt;"><img src="https://pbs.twimg.com/profile_images/3761900251/7e82e1677e391e35130ced1d173d93ad_400x400.jpeg" style="width: 100%;">Ryan Squire</p>
      <p style="float: left; width: 200px; margin-right: 30px; margin-bottom: 5px; text-align: center: font-size: 8pt;"><img src="https://pbs.twimg.com/profile_images/2464524570/LukeatTaj_400x400.jpg" style="width: 100%;">Luke Squire</p>
      <p id="peopletext"> Ryan and Luke are brothers living in San Francisco, CA and Washington, DC, respectively. They both attended Oberlin College. <br> <br> Ryan works in the intersection of neuroscience and technology. Luke is interested in civic engagement and building tools to expand democracy. <br> <br> They both love California Burritos.</p>
  </div>
{% endblock %}