
 <title>SMI Ranking</title> 
{% extends "layout.html" %}
{% block content %}

  <div id="Title">
    <hr class="valuebars">
      <h1 style="text-align: center"> Ranking of 2016 POTUS Candidates By Social Media Index</h1>
    <hr class="valuebars">
<table id="SMI"; style="width:75%">
  <tr>
    <th></th>
    <th></th>  
    <th colspan="2"><a href="/methods">Social Media Index</a></th>
  </tr>

  {% for this_candidate in rankings_list %}
  <tr>
    <td>{{ this_candidate.Rank }}. </td>
    <td style="color: black"> <img src = {{this_candidate.picture_URL}} 
             alt = {{this_candidate.alt}} 
             border=3 
             height=150 
             width=150>
           </img> 
         </td>
    <td style="font-size: 24px">{{ this_candidate.full_name }} ({{ this_candidate.Party }})</td>  
    <td style="font-size: 48px; width: 160px">{{ this_candidate.SMI_Index_per_million }}</td>  
  </tr>
  {% endfor %}

</table>
    <hr class="valuebars">
      <h1 style="text-align: center">What is the Social Media Index?</h1>
    <hr class="valuebars">
  <p>THE SMI is a number that ranges from 0 to Infinity, and is roughly correlated with how many millions of followers you have on social media accounts. The larger the number, the larger your influence. You can read more about our methodology <a href="/methods"> here.</a>   </p>

{% endblock %}