<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Squire Startup!</title> 

  <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>

  <style type="text/css">    
  body
 {
  color: black;
  background-color: #008080
 }
  h1
  {
    /*position: relative;*/
    font-size:30px;
    margin-top:0px;
    margin: -50px;
    font-family:Arial, sans-serif;
    text-shadow:5px 0 20px #292929;
    letter-spacing:4px;
    text-decoration:none;
    color:#008080;
  }
  #banner
  {
    width:400px;
    height:200px;
    text-align:center;
    background-image:url(http://i.imgur.com/yK1T6PJ.jpg); 
    background-size: cover;
    background-repeat:no-repeat;
    border-radius:5px;
    border: 5px solid gray;
    margin:100px auto auto;
    padding:100px 0;
    text-margin: -50px;
  }

  form
  {
    text-align:center;
    margin: 20px;
  }

  .lead
  {
    background-color:rgba(255,255,255,0.6);
    border-radius:3px;
    box-shadow:rgba(0,0,0,0.2) 0 1px 3px;
    font-family:Sintony, sans-serif;
    padding:0px;
    margin:-170px auto auto;
    width:400px;
    height:40px;
    text-align:center;

  }

#SMI
{
  margin-left: auto;
  margin-right:auto;
  margin-top: 150px;
}

#People
{
  text-align: center;
  margin-top: 250px;

}

#People h2
{
  color: white;
  text-decoration: underline;
}

#People h3
{
color: white;
}

#People img
{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
  </style>

</head>  
  
<body>
  <div id="banner">
    <h1>squires everywhere</h1>
    
  </div>
    <form action="/signup" method="post">
      <input type="text" name="email"></input>
      <input type="submit" value="Enter Email"></input>
  </form>

  <p class="lead">We're bringing freedom to the internet. Freedom.  Awesome.</p>
  <div id="emailform">
    
  </div>

<table id="SMI"; style="width:50%">
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>  
    <td>Social Media Index</td>  
  </tr>

  <tr>
    <td>1. </td>
    <td><img src = https://pbs.twimg.com/profile_images/597758898087587840/WFulk7EO_400x400.png alt="Hillary Clinton Logo" border=3 height=100 width=100></img></td>
    <td>Hillary Clinton</td>
    <td>[D]</td>  
    <td>3.92</td>  
  </tr>

  {% for this in loops %}
  <tr>
    <td>1. </td>
    <td> <img src = {{rankings.image_url}} 
             alt = {{rankings.alt}} 
             border=3 
             height=100 
             width=100>
           </img> 
         </td>
    <td>{{ rankings.name }}</td>
    <td>{{ rankings.party }}</td>  
    <td>{{ rankings.SMI }}</td>  
  </tr>

  {% endfor %}
  <!---
    <tr>
   <td>2. </td>
    <td><img src = https://pbs.twimg.com/profile_images/1980294624/DJT_Headshot_V2_400x400.jpg alt="Donald Trump" border=3 height=100 width=100></img></td>
    <td>Donald Trump</td>
    <td>[R]</td>  
    <td>3.73</td>  
  </tr>

    <tr>
   <td>3. </td>
    <td><img src = https://pbs.twimg.com/profile_images/378800000172093378/1fdc56b3070dfe288553f20ebb49e92a.jpeg alt="Rand Paul" border=3 height=100 width=100></img></td>
    <td>Rand Paul</td>
    <td>[R]</td>  
    <td>1.57</td>  
  </tr>

    <tr>
   <td>4. </td>
    <td><img src = https://pbs.twimg.com/profile_images/595604836667691008/34kTwIqb.jpg alt="Mike Huckabee" border=3 height=100 width=100></img></td>
    <td>Mike Huckabee</td>
    <td>[R]</td>  
    <td>1.23</td>  
  </tr>
 
  <tr>
   <td>5. </td>
    <td><img src = https://pbs.twimg.com/profile_images/453173279637766144/-zpwMHaG.jpeg alt="Joe Biden" border=3 height=100 width=100></img></td>
    <td>Joe Biden</td>
    <td>[D]</td>  
    <td>1.21</td>  
  </tr> 
  
    <tr>
   <td>6. </td>
    <td><img src = https://pbs.twimg.com/profile_images/588332605969342464/l3r5Akro.jpg alt="Marco Rubio" border=3 height=100 width=100></img></td>
    <td>Marco Rubio</td>
    <td>[R]</td>  
    <td>1.16</td>  
  </tr>

  <tr>
    <td>7. </td>  
    <td><img src = https://pbs.twimg.com/profile_images/572756176442388480/che-Fiex_400x400.jpeg alt="" border=3 height=100 width=100></img></td>
    <td>Ben Carson</td>
    <td>[R]</td>
    <td>1.03</td>
  </tr>

  <tr>
    <td>8. </td>  
    <td><img src = https://pbs.twimg.com/profile_images/478888071518093312/Rdiy3UhY_400x400.jpeg alt="" border=3 height=100 width=100></img></td>
    <td>Ted Cruz</td>
    <td>[R]</td>
    <td>1.03</td>
  </tr>
  
  <tr>
    <td>9. </td>  
    <td><img src = https://pbs.twimg.com/profile_images/590121467846733824/_4l7zStk_400x400.jpg alt="" border=3 height=100 width=100></img></td>
    <td>Elizabeth Warren</td>
    <td>[D]</td>
    <td>0.84</td> 
  </tr>

    <tr>
   <td>10. </td>
    <td><img src = https://pbs.twimg.com/profile_images/502168082408693760/-YP6nYGp_400x400.png alt="Rick Perry" border=3 height=100 width=100></img></td>
    <td>Rick Perry</td>
    <td>[R]</td>  
    <td>0.62</td>  
  </tr>

  <tr>
    <td>11. </td>  
    <td><img src = https://pbs.twimg.com/profile_images/595179129013538816/weoj-HQY.jpg alt="" border=3 height=100 width=100></img></td>
    <td>Carly Fiorina</td>
    <td>[R]</td>
    <td>0.39</td>  
  </tr>

    <tr>
   <td>12. </td>
    <td><img src = https://pbs.twimg.com/profile_images/583694454915076096/YEhBSmOi_400x400.jpg alt="Rick Santorum" border=3 height=100 width=100></img></td>
    <td>Rick Santorum</td>
    <td>[R]</td>  
    <td>0.36</td>  
  </tr>

    <tr>
   <td>13. </td>
    <td><img src = https://pbs.twimg.com/profile_images/87988618/jindalprofile_400x400.jpg alt="Bobby Jindal" border=3 height=100 width=100></img></td>
    <td>Bobby Jindal</td>
    <td>[R]</td>  
    <td>0.30</td>  
  </tr>

    <tr>
   <td>14. </td>
    <td><img src = https://pbs.twimg.com/profile_images/591000793303547905/eu1KYXqx_400x400.jpg alt="Jeb Bush" border=3 height=100 width=100></img></td>
    <td>Jeb Bush</td>
    <td>[R]</td>  
    <td>0.27</td>  
  </tr>

    <tr>
   <td>15. </td>
    <td><img src = https://pbs.twimg.com/profile_images/552857703186317312/PzRWBkHj_400x400.jpeg alt="Scott Walker" border=3 height=100 width=100></img></td>
    <td>Scott Walker</td>
    <td>[R]</td>  
    <td>0.27</td>  
  </tr>

  <tr>
    <td>16. </td>
    <td><img src = https://pbs.twimg.com/profile_images/593768630619414528/NtUnu7BX.png alt="Bernie Sanders" border=3 height=100 width=100></img></td>
    <td>Bernie Sanders</td>
    <td>[D]</td>  
    <td>0.62</td>  
  </tr>
 
    <tr>
   <td>17. </td>
    <td><img src = https://pbs.twimg.com/profile_images/555040711184117760/20mmWtH5_400x400.jpeg alt="John Kasich" border=3 height=100 width=100></img></td>
    <td>John Kasich</td>
    <td>[R]</td>  
    <td>0.12</td>  
  </tr>

    <tr>
   <td>18. </td>
    <td><img src = https://pbs.twimg.com/profile_images/585084052492791808/oO7xuGc0_400x400.jpg alt="Chris Christie" border=3 height=100 width=100></img></td>
    <td>Chris Christie</td>
    <td>[R]</td>  
    <td>0.08</td>  
  </tr>

    <tr>
   <td>19. </td>
    <td><img src = https://pbs.twimg.com/profile_images/560831794510319617/QRAh4txz_400x400.jpeg alt="Lindsay Graham" border=3 height=100 width=100></img></td>
    <td>Lindsay Graham</td>
    <td>[R]</td>  
    <td>0.07</td>  
  </tr>

  <tr>
   <td>20. </td>
    <td><img src = https://pbs.twimg.com/profile_images/576432086589915136/IpCNp1S4.jpeg alt="Martin O'Malley" border=3 height=100 width=100></img></td>
    <td>Martin O'Malley</td>
    <td>[D]</td>  
    <td>0.03</td>  
  </tr>

    <tr>
   <td>21. </td>
    <td><img src = https://pbs.twimg.com/profile_images/590196992137154560/SByhG3iF_400x400.jpg alt="George Pataki" border=3 height=100 width=100></img></td>
    <td>George Pataki</td>
    <td>[R]</td>  
    <td>0.03</td>  
  </tr>

  <tr>
   <td>22. </td>
    <td><img src = https://pbs.twimg.com/profile_images/378800000433899667/8238019d8e6e4b2117a79850576e5069.jpeg alt="Lincoln Chaffee" border=3 height=100 width=100></img></td>
    <td>Lincoln Chaffee</td>
    <td>[D]</td>  
    <td>0.02</td>  
  </tr>

  <tr>
    <td>23. </td>  
    <td><img src = https://pbs.twimg.com/profile_images/501859536135655424/rDjwaf2z_400x400.jpeg alt="" border=3 height=100 width=100></img></td>
    <td>Jim Webb</td>
    <td>[D]</td>
    <td>0.02</td>
  </tr>
-->

</table>


  <div id="People">
    <h2>People Involved</h2>
      <h3>Ryan Squire</h3>
        <img class="Ryan Squire" src=https://pbs.twimg.com/profile_images/3761900251/7e82e1677e391e35130ced1d173d93ad.jpeg>
      <h3>Luke Squire</h3>
        <img class="Luke Squire" src=https://lh6.googleusercontent.com/-yEPd0ehIX2I/AAAAAAAAAAI/AAAAAAAAAEk/RRZcbJvqX_s/photo.jpg>
  </div>

<!-- Start Sociable -->

<div id="SocialShare">
  <a href = "http://twitter.com/share?text=POTUS hopefuls have very different social media influence! check it out -->&url=https://squirestartup.herokuapp.com/&hashtags=branding, politics" >
  <img class="twitter" src = https://g.twimg.com/Twitter_logo_white.png width ="20" height="20" >
  share these stats
</a>
</div>




</body>
</html>