
 <title>Squire Startup - Methods</title> 
{% extends "layout.html" %}
{% block content %}

    <hr class="valuebars">
      <h1 style="text-align: center">Methodology</h1>
    <hr class="valuebars">

 <div id="banner">
    <h1>Squire Synergy</h1>    
</div>
  
<div id="ValueStatement">
    <hr class="valuebars">
    <h1> Why Use the Social Media Index?</h1>
    <hr class="valuebars">
      <p class="valuegrafs">The 2016 presidential election will witness the most sophisticated, expensive, and involved use of technology to reach and mobilize voters on social media.</p>

       <p class="valuegrafs">The strength of a candidate’s social influence will directly relate to their ability to fundraise, build capacity, and spread their message. Increasingly, elections will be directed by who can control their social media presence--or, as Nate Silver states, “who has more ability to change the conversation at a moment’s notice…” </p>

       <p class="valuegrafs">So how do we know who has the greatest social media influence? </p>

       <p class="valuegrafs">We applied Nate Silver’s <a href="http://content.time.com/time/specials/packages/article/0,28804,1984685_1984713_1984669,00.html">“Networking Index"</a> (which we rebranded as the “Social Media Index,”) to the 2016 Presidential field. This gives us a basic idea of how to compare relative influence over social media.</p>


  </div>

  <div id="FAQ">
  
  <hr>
    <h1>Defining the 2016 Field</h1>
  <hr>
    <p>All declared candidates from both major parties were included, as well as candidates rumored or expected to run based on their public statements or activities. Some candidates who have stated they will not run, like Senator Elizabeth Warren, were included because their potential for candidacy and their indirect influence on the presidential field.
    </p>

  <hr>
    <h1>Calculating the Social Media Index</h1>
  <hr>
    <p>Using Nate Silver’s proposal for finding a standardized score for social media influence across Facebook and Twitter, we collected data on our 2016 field. We then standardized this metric for users per million to make the SMI more readable.  This information was collected from all accounts on Saturday, May 16, 2016.</p>

  <hr>
    <h1>Information Sources</h1>
  <hr>
   <p>Social media information from Facebook and Twitter was pulled from the campaign accounts for all subjects or, in the cases where they are not declared candidates (e.g. Donald Trump) from their personal accounts. We did not use the government social media accounts for members who are elected, because those members are prohibited from sharing political and electoral information over those feeds. Thus, we decided that government accounts are not an accurate measure of one's "social media influence" in terms of their ability to shape discourse around the 2016 presidential election.</p>

</div>
{% endblock %}

