
/* learned from http://flask.pocoo.org/docs/0.10/tutorial/css/ */
  body
 {
  color: black;
  background-color: #008080;
  margin-right: 250px;
  margin-left: 250px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
 }
  #banner h1
  {
    /*position: relative;*/
    font-size:30px;
    margin-top:0px;
    margin: -50px;
    font-family:Arial, sans-serif;
    text-shadow:5px 0 20px #292929;
    letter-spacing:4px;
    text-decoration:none;
    color:#008080;
  }
  #banner
  {
    width:400px;
    height:200px;
    text-align:center;
    background-image:url(http://i.imgur.com/yK1T6PJ.jpg); 
    background-size: cover;
    background-repeat:no-repeat;
    border-radius:5px;
    border: 5px solid gray;
    margin:100px auto auto;
    padding:100px 0;
    text-margin: -50px;
  }

  form
  {
    text-align:center;
    margin: 20px;
  }

  .lead
  {
    background-color:rgba(255,255,255,0.6);
    border-radius:3px;
    box-shadow:rgba(0,0,0,0.2) 0 1px 3px;
    font-family:Sintony, sans-serif;
    padding:0px;
    margin:-170px auto auto;
    width:400px;
    height:40px;
    text-align:center;
  }

#ValueStatement
{
  margin-top: 150px;
  color: white;
  margin-bottom: 50px;
}

h1
{
  color: white;
}

hr
{
  color: white;
}

#SMI
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: white;
}

#SMI th
{
  text-align: right;
  font-style: italic;
  color: #9999FF;
}

#nav-bar
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

#People
{
  text-align: center;
  margin-top: 50px;

}

#People h2
{
  color: white;
  text-decoration: underline;
}

#People h3
{
color: white;
}

#People img
{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#peopletext
{
  margin-top: 40px;
}

#FAQ
{
  margin-top: 50px;
}

hr.end
  {
    height: 20px;
    background: url(http://www.syntaxxx.com/images/hr/horizontal-rule-blue-stars.png) no-repeat center;url(http://www.syntaxxx.com/images/hr/horizontal-rule-blue-stars.png) no-repeat center;
    border: none;
  }

#SocialShare
{
  text-align: center;
  color: white;
  margin-top: 50px;
}
